NODE_ENV=development
DEBUG=riqra-service-users:*
HOST=127.0.0.1
PORT=3000
PROTOCOL=http

POSTGRE_SQL_HOST=127.0.0.1
POSTGRE_SQL_PORT=4002
POSTGRE_SQL_DATABASE=riqra_service_users
POSTGRE_SQL_USER=postgres
POSTGRE_SQL_PASSWORD=123

FB_CLIENT_ID=698010097006957
FB_CLIENT_SECRET=4d0f7763ecafe08cb08b8fadc2040a6e
FB_CALLBACK_URL=/auth/facebook/callback/

RUC_TOKEN=8844da19-b8f6-40f6-bfdf-8f3d4f8e8a57-cb3144c7-807a-4de0-8111-45542a389438
DNI_TOKEN=e8bCm1h7BduLAmBFSGgz1ckP99X7Rf7o3IW0pzpv

MAILER_SERVICE_URL=http://localhost:3333

JWT_SECRET=cHJldHR5d2F5NTQzMjE=
