<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
body
  div
    h2 Check photo identify
    form(action="/api/verify-face/check-face", method="post", enctype="multipart/form-data")
      div
        label Upload photo
        input(type="file", name="photo")
      div
        button Send
